<%= form_with(model: pizza) do |form| %>
  <% if pizza.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
        <% pizza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block" %>
    <%= form.text_field :name, class: "w-full mt-2 mb-2 px-2" %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, class: "w-full mt-2 mb-2 px-2" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description, class: "w-full mt-2 mb-2 h-36" %>
  </div>

  <div class="mb-8">
    <%= form.label :photo, class: "block mb-2"%>
    <%= form.file_field :photo, class: %>
  </div>

  <div class = "mb-4">
    <%= form.label :pizza_type, "Tipo de Pizza", class: "block"%>
    <%= form.select :pizza_type, options_for_select([['Doce', 'doce'], ['Salgada', 'salgada'], ['Vegetariana', 'vegetariana']]), selected: @pizza.pizza_type%>
  </div>

  <%= render partial: 'layouts/button', locals: {button_text: "Criar Pizza"}%>

<% end %>
