<div id="<%= dom_id pizza %>" class="flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-16 p-6 rounded-lg ">
  
  <div class="flex-shrink-0">
    <% if pizza.photo.attached? %>
      <%= image_tag url_for(pizza.photo), class: "w-full md:w-[600px] h-auto rounded-lg mb-4" %>
    <% end %>
  </div>

  <div class="space-y-6 md:w-[600px]">
    <p class="text-4xl font-semibold text-yellow-500">
      <%= pizza.name %>
    </p>

    <p class="text-md text-slate-400 text-left">
      <%= pizza.description %>
    </p>

    <p class="text-lg text-gray-700 font-bold">
      R$ <%= number_with_precision(pizza.price, precision: 2, delimiter: ".", separator: ",") %>
    </p>

    <%= render(partial: "layouts/button", locals: { button_text: "Adicionar ao Carrinho" }) %>
  </div>

</div>
