<div class = "flex flex-col items-center mx-auto border-2  p-32 rounded-md shadow-lg ">

  <h2 class = "font-bold text-5xl text-yellow-300">Entrar</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col space-y-4 items-center mt-12">

    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %> text-red-400">
        <%= message %>
      </div>
    <% end %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :Senha %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions w-72">
        <%= button_to user_session_path, method: :post do%>
          <%= render(partial: "layouts/button", locals: { button_text: "Entrar" }) %>
        <% end %>
      </div>
    <% end %>

    <p>
      Não possui uma conta?
      <span>
        <%= link_to "Cadastre-se", new_user_registration_path, class: "hover:underline"%>
      </span> 
    </p>

    </div>
</div>


