<div class="bg-yellow-300 flex justify-around items-center p-3">

  <div>
    <%= link_to image_tag('LOGO.png', class: 'w-24 h-auto'), pizzas_path %>
  </div>

  <div class="hidden md:flex items-center space-x-8">
    <%= link_to 'Doces', find_pizza_type_path(pizza_type: "doce"), class: 'text-black px-4 py-2 hover:underline' %>
    <%= link_to 'Salgadas', find_pizza_type_path(pizza_type: "salgada"), class: 'text-black px-4 py-2 hover:underline' %>
    <%= link_to 'Vegetarianas', find_pizza_type_path(pizza_type: "vegetariana"), class: 'text-black px-4 py-2 hover:underline' %>
  </div>

  <div class = "hidden md:flex items-center space-x-2">
    <% if !current_user %>
      <%= link_to 'Login', new_user_session_path, class: 'text-black px-4 py-2 hover:underline' %>
      <%= link_to 'Cadastrar-se', new_user_registration_path,  class: 'text-black px-4 py-2 hover:underline'%>
    <% else %>
      <div class = "flex gap-4 items-center">
        <p>Olá, <%= current_user.name %>!</p>
          <%= button_to destroy_user_session_path, method: :delete do%>
           <%= render(partial: "layouts/button", locals: { button_text: "Logout", button_class: "bg-yellow-500 px-4 py-2 rounded-lg hover:cursor-pointer w-full" }) %>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="md:hidden">
    <button id="menu-toggle" class="text-black focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  
</div>

<div id="mobile-menu" class=" bg-yellow-300 md:hidden flex flex-col items-center space-y-4 p-4">
  <%= link_to 'Doces', find_pizza_type_path(pizza_type: "doce"), class: 'text-black px-4 py-2 hover:underline' %>
  <%= link_to 'Salgadas', find_pizza_type_path(pizza_type: "salgada"), class: 'text-black px-4 py-2 hover:underline' %>
  <%= link_to 'Vegetarianas', find_pizza_type_path(pizza_type: "vegetariana"), class: 'text-black px-4 py-2 hover:underline' %>
  <%= link_to 'Adicionar Pizza', new_pizza_path, class: 'text-black px-4 py-2 hover:underline' %>
</div>

<script>
  document.getElementById('menu-toggle').addEventListener('click', function() {
    const mobileMenu = document.getElementById('mobile-menu');
    mobileMenu.classList.toggle('hidden');
  });
</script>
