<div class="bg-yellow-300 flex justify-between items-center">

    <div>
       <%= link_to image_tag('LOGO.png', class: 'w-24 h-auto'), pizzas_path%>
    </div>

    <div class="flex items-center p-8 space-x-8">

        <%= link_to 'Doces', find_pizza_type_path(pizza_type: "doce"), class: 'text-black px-4 py-2 hover:underline'%>
        <%= link_to 'Salgadas', find_pizza_type_path(pizza_type: "salgada"), class: 'text-black px-4 py-2 hover:underline'%>
        <%= link_to 'Vegetarianas', find_pizza_type_path(pizza_type: "vegetariana"), class: 'text-black px-4 py-2 hover:underline'%>
        <%= link_to 'Adicionar Pizza', new_pizza_path, class: "text-black px-4 py-2 hover:underline"%>

    </div>

</div>